<h1>Projet WEB Antoine PRITZY - Header</h1>
<div>
   <li><a [routerLink] = "['accueil']">Accueil</a></li> 
   <li><a [routerLink] = "['/produits/catalogue']">Catalogue</a></li>
   <li><a [routerLink] = "['formulaire']">Formulaire</a> </li>
   <li><a [routerLink] = "['/produits/detail','xxxx']" > Détail du produit </a></li>
   <li><a [routerLink] = "['/produits/panier']">Panier</a> </li>
   <li><a [routerLink] = "['/connexion']" > Connexion </a></li>
</div>

<p>
Nombre d'articles dans le panier : {{ref}}
</p>
